body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Helvetica Neue";
    -webkit-font-smoothing: antialiased;
    background-color: #eef2f3;
}

header {
    position: fixed;
    z-index: 10;
    right: 0;
    left: 0;
    top: 0;
    background-color: #FFF;
    box-shadow: 0px 1px #EEE;
    transition: all .2s ease-in;
}

header .container {
    max-width: 1360px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    height: 53px;
    padding: 0 16px;
}

header .tralbum-container {
    max-width: 1228px;
}

header .left, header .right {
    display: flex;
}

header .left li {
    padding-right: 19px;
}

header .right li {
    padding-left: 30px;
}

header ul {
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}

header li {
    list-style: none;
}

header .left input {
    font-family: "Helvetica Neue";
    background-color: #F3F3F3;
    padding: 10px 13px;
    font-size: 14px;
    border: none;
    width: 296px;
    color: #333;
}

header .left input:focus {
    outline: none;
}

/* Homepage Styles */

.hero {
    width: 100%;
    height: 540px;
    background-color: #333;
}

.inner-hero {
    margin: 0 auto;
    height: 540px;
    max-width: 1440px;
    background-color: #000;
}

.inner-page {
    max-width: 97%;
    margin: 0 auto;
    background-color: #FFF;
    height: 4000px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,d6d6d6+100 */
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top, #5e4da1 0%, #5D9FBA 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #5e4da1 0%,#5D9FBA 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #5e4da1 0%,#5D9FBA 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#d6d6d6',GradientType=0 ); /* IE6-9 */
}

@media(min-width:1130px) {
    .inner-page {
        max-width: 1106px;
    }
}



/* Current Breakpoints */
/* @media(min-width:1025px) {
    .inner-page {
        max-width: 994px;
    }
}

@media(min-width:1281px) {
    .inner-page {
        max-width: 1106px;
    }
} */

/* Tralbum Styles */

.tralbum {
    max-width: 975px;
    height: 3000px;
    background-color: #FFF;
    margin: 0 auto;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,d6d6d6+100 */
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top, #FFF 0%, #5D9FBA 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #FFF 0%,#5D9FBA 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #FFF 0%,#5D9FBA 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#d6d6d6',GradientType=0 ); /* IE6-9 */
}
.headroom {
    will-change: transform;
    transition: transform 200ms linear;
}
.headroom--pinned {
    transform: translateY(0%);
}
.slideUp {
    transform: translateY(-100%);
}
